@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-dark: #0f172a;
  --color-darker: #020617;
}

@layer base {
  body {
    @apply bg-darker text-gray-100 antialiased font-sans;
  }

  html.light body {
    @apply bg-slate-100 text-slate-950;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
